**/*.vo
**/*.vok
**/*.vos
**/*.aux
**/*.glob
**/.git
**/.svn
**/.hg
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.DS_Store
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.DS_Store
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.DS_Store
**/.classpath
node_modules/
out/*
**/*.html
**/.*.report
**/.*.cache

built/*
del/*